{% extends 'header.html' %}
{% load static %}
{% block content %}


        <!-- Right sidebar Start-->
        <div class="right-sidebar" id="right_side_bar">
            <div>
                <div class="container p-0">
                    <div class="modal-header p-l-20 p-r-20">
                        <div class="col-sm-8 p-0">
                            <h6 class="modal-title font-weight-bold">FRIEND LIST</h6>
                        </div>
                        <div class="col-sm-4 text-end p-0"><i class="me-2" data-feather="settings"></i></div>
                    </div>
                </div>
                <div class="friend-list-search mt-0">
                    <input type="text" placeholder="search friend"><i class="fa fa-search"></i>
                </div>
                <div class="p-l-30 p-r-30">
                    <div class="chat-box">
                        <div class="people-list friend-list">
                            <ul class="list">
                                <li class="clearfix"><img class="rounded-circle user-image" src="{% static 'assets/images/dashboard/user.png' %}" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Vincent Porter</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="{% static 'assets/images/dashboard/user1.jpg' %}" alt="">
                                    <div class="status-circle away"></div>
                                    <div class="about">
                                        <div class="name">Ain Chavez</div>
                                        <div class="status"> 28 minutes ago</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="{% static 'assets/images/dashboard/user2.jpg' %}" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Kori Thomas</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="{% static 'assets/images/dashboard/user3.jpg' %}" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Erica Hughes</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="{% static 'assets/images/dashboard/man.png' %}" alt="">
                                    <div class="status-circle offline"></div>
                                    <div class="about">
                                        <div class="name">Ginger Johnston</div>
                                        <div class="status"> 2 minutes ago</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="{% static 'assets/images/dashboard/user5.jpg' %}" alt="">
                                    <div class="status-circle away"></div>
                                    <div class="about">
                                        <div class="name">Prasanth Anand</div>
                                        <div class="status"> 2 hour ago</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="{% static 'assets/images/dashboard/designer.jpg' %}" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">Hileri Jecno</div>
                                        <div class="status"> Online</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Category
                                    <small>Multikart Admin panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Physical</li>
                                <li class="breadcrumb-item active">Category</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Products Category</h5>
                            </div>
                            <div class="card-body">
                                <div class="btn-popup pull-right">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-original-title="test" data-bs-target="#exampleModal">Add Category</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title f-w-600" id="exampleModalLabel">Add Physical Product</h5>
                                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="needs-validation" method="post" action="/Category/" enctype="multipart/form-data" >
                                                        {% csrf_token %}
                                                        <div class="form">
                                                            <div class="form-group">
                                                                <label for="validationCustom01" class="mb-1">Category Image :</label>
                                                                <input class="form-control" id="validationCustom01" name="image" type="file">
                                                            </div>
                                                            <div class="form-group mb-0">
                                                                <label for="validationCustom02" class="mb-1">Category Title :</label>
                                                                <input class="form-control" id="validationCustom02" name="item" type="text">
                                                            </div>
                                                             <div class="modal-footer">
                                                                 <button class="btn btn-primary" type="submit">Save</button>
                                                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="basicScenario" class="product-physical table-responsive"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <div id="basicScenario1" class="product-physical table-responsive jsgrid" style="position: relative; height: auto; width: 100%;">
                <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                    <table class="jsgrid-table">
                        <tbody>
                            <tr class="jsgrid-header-row">
                                <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Id</th>
                                <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Image</th>
                                <th class="jsgrid-header-cell jsgrid-header-sortable jsgrid-header-sort jsgrid-header-sort-asc" style="width: 100px;">Name</th>
<!--                                <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 130px;">Price</th>-->
<!--                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 10px;">Description</th>-->
                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">Action</th>


            <!--                    <input class="jsgrid-button jsgrid-mode-button jsgrid-insert-mode-button" type="button" title="Switch to inserting" /></th>-->
            <!--                    <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;"><input class="jsgrid-button jsgrid-mode-button jsgrid-insert-mode-button" type="button" title="Switch to inserting"></th>-->

                            </tr>
            <!--                <tr class="jsgrid-filter-row" style="display: table-row;">-->
            <!--                    <td class="jsgrid-cell jsgrid-align-center" style="width: 50px;"></td>-->
            <!--                    <td class="jsgrid-cell" style="width: 100px;"><input type="text" /></td>-->
            <!--                    <td class="jsgrid-cell jsgrid-align-right" style="width: 50px;"><input type="number" /></td>-->
            <!--                    <td class="jsgrid-cell" style="width: 50px;"><input type="text" /></td>-->
            <!--                </tr>-->
            <!--                <tr class="jsgrid-insert-row" style="display: none;">-->
            <!--                    <td class="jsgrid-cell jsgrid-align-center" style="width: 50px;"><input type="file" /></td>-->
            <!--                    <td class="jsgrid-cell" style="width: 100px;"><input type="text" /></td>-->
            <!--                    <td class="jsgrid-cell jsgrid-align-right" style="width: 50px;"><input type="number" /></td>-->
            <!--                    <td class="jsgrid-cell" style="width: 50px;"><input type="text" /></td>-->
            <!--                    <td class="jsgrid-cell" style="width: 50px;"><input type="text" /></td>-->
            <!--                    <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;"><input class="jsgrid-button jsgrid-insert-button" type="button" title="Insert" /></td>-->
            <!--                </tr>-->
                        </tbody>
                    </table>
                </div>
                {% for val in b %}
                <div class="jsgrid-grid-body">
                    <table class="jsgrid-table">
                        <tbody>
                            <tr class="jsgrid-row jsgrid-selected-row">
                                <td class="jsgrid-cell jsgrid-align-center" style="width: 110px;">{{val.id}}</td>
                                <td class="jsgrid-cell jsgrid-align-center" style="width: 110px;"><img src="{% static '/assets/images/' %}{{val.image}}" class="blur-up lazyloaded" style="height: 50px; width: 50px;" /></td>
                                <td class="jsgrid-cell" style="width: 100px;">{{val.item}}</td><br>
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 100px;">{{val.price}}</td>-->
<!--                                <td class="jsgrid-cell" style="width: 100px;">{{val.description}}-->
                                <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">
                                <td><a href="/cat_edit/{{val.id}}"><img src="{% static 'assets/images/edit.png' %}" height="20px" width="20px"></a></i></td>
                                <td><a href="/cat_delete/{{val.id}}"><img src="{% static 'assets/images/delete.png' %}" height="20px" width="20px"></a></i></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
        {% endblock %}